<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :money %>
    <%= form.text_field :money, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_at %>
    <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
      <input type="text" name="product[start_at]" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
      <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :end_at %>
    <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
      <input type="text" name="product[end_at]" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
      <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <select name="product[currency]" class="form-control js-example-basic-single">
      <option value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :tag_list %>
    <select name="product[tag_list][]" multiple= 'true' class="form-control js-example-tags">
      <option value="tag1">tag1</option>
      <option value="tag2">tag2</option>
      <option value="tag3">tag3</option>
      <%= options_for_select( form.object.tag_list, form.object.tag_list ) %>  
      <!--  第一個form.object.tag_list指的是所有類型的tag，第二個則是該product所選到的tag  -->
    </select>
  </div>
  <div class="actions btn-submit">
    <%= form.submit %>
  </div>
<% end %>
